

h1{
    background-color: #bc105db6;
    color: rgb(240, 242, 244);
    display: flex;
    justify-content: center;     
}

body{
    background-color: #E21364;
}

section{
    background-color: #bc105db6;
    border-radius: 0.3rem;
}

section, header{
    margin: 5% 8%;
}

.game-card{
    background-color: aliceblue;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
}

hr{
    margin: 0;
}